/****************************** Général***************************/
body{font-family: 'Montserrat', sans-serif;}
h2, h5{color:#252B42;}
p, h6{color:#737373; font-size: 14px;}
.h1{color: #252B42;}
.navbar{background: linear-gradient(107.2deg, #FBE38F 1.65%, #F1D256 100.77%);}
/******************************Section Navigation **************/
#boxNav{min-height:8vh;
     background: linear-gradient(107.2deg, #FBE38F 1.65%, #F1D256 100.77%);}
/******************************section box Header***************/
#boxHeader{
    min-height:48vh; 
    background: linear-gradient(107.2deg, #FBE38F 1.65%, #F1D256 100.77%);}
.sousTitle{color: #737373;}
#getQuote{background: #00A0C1;font-size: 14px;}
#learn{ 
    color: #00A0C1; 
    border-color:#00A0C1;
    background: linear-gradient(107.2deg, #FBE38F 1.65%, #F1D256 100.77%);
    font-size: 14px;}
/*****************************section Features*****************/
#boxFeatures{min-height:50vh; width: 100%;}
.pFeatures{font-size: 14px; color: #737373;}
#img1Sect1{width: 48px;height: 41px;}
#img2Sect1{width: 48px;height: 48px;}
#img3Sect1{width: 48px;height: 38px;}
/***************************section Practice******************/
#boxPractice{ min-height:70vh; width:100%;background: #fafafa;}
.card-text1{font-size: 14px;color:#737373;}
.card-title1{color:#252B42;}
.boxCard{height: 200px;}
/*************************section About***********************/
#boxAbout{min-height:90vh;}
#imgSect3{width:600px;height:442px;}
#imgPerson{width: 30px;height: 30px;}
#imgCompter{width:32px;height: 26px;}
/*************************section client**********************/
#boxClient{min-height:40vh; background: #FAFAFA}
#squar{background: #252B42; min-height: 10vh; margin:-39px}
#squarGreen{background: #16697A; width: 100%;}
#subcripe{background: #FFA62B;font-size:14px}
#boxClient>.container{z-index: 3;position: relative;}
/**********************section contact***********************/
#boxContact{background:#f3f3f3;min-height:90vh;}
.card1{background:#00A0C1;color:#fff;} 
.card2-body{background: #252B42;height: 393px;}
.card1-body,.card3-body{height: 333px;}
.white{color: #fff;}
#imgTel{width: 72px;height: 72px;}
#imgPosition{width: 75px;height: 71px;}
#imgLetter{width: 69px;height: 72px;}
/***************section consulting****************************/
#consulting {min-height:20vh; background: #fafafa;}
.btn1{background: #FFA62B;font-size:14px}
/****************section info*********************************/
#info{background: #16697A; min-height:272px;}
.phone{height: 23px; }
.position{height: 30px; background-color: #8EC2F2;}
.envelop{height: 25px;}
/******************section footer*****************************/
#boxFooter{min-height:8vh;width: 100%;}
/********************Media query******************************/
@media screen and (max-width: 576px){
    #squar{display: none;}
    #squarGreen{
        width: 100%;
        min-height: 20vh;
        display: flex;
        align-items: center;
        flex-direction: column; }
    #boxGreen{
        width: 100%;
        min-height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
} 